_build/
deps/
node_modules/
assets/node_modules/
assets/dist/
priv/static/assets/css/
priv/static/assets/js/
priv/static/assets/assets/
priv/static/assets/manifest*.json
priv/static/assets/*.gz
priv/static/cache_manifest.json

.git/
.elixir_ls/
.vscode/
.pytest_cache/
.tmp/

*.log
*.dump
erl_crash.dump
tmp/
coverage/
cover/
